
header {
  text-align: center;
}

#nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  
}

p {
    text-align: center;
  }

body {
    font-family: 'Roboto Condensed', sans-serif;  
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
        color: black;}

     /* this is for the circle name logo above lucy pic section */
.container1 {
    padding: 50px;
    height: 300px;
    position: relative;
    margin: 0px;
}


#kmaboutimg {
    margin-top: 5vh;
    margin-bottom: 100vh;
}

#lusection {
    background-image: url('images/lu.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 350px;
    margin-top: 10vh;
}

.project-thumbnail {
    display: inline-block;
    height: 256px;
    box-shadow: 0px 0px 10px 2px black;
    vertical-align: middle;
}




ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: white 0.1em 0.1em 0.2em;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
  

    color: white;
    text-shadow: #03989E63 0.2em 0.2em 0.2em
  }
  

footer {
    text-align: center;
    padding: 3px;
    background-color: #03989E63;
    color: black;
}
  
  

