
header {
  text-align: center;
}

#nav {
  position: fixed;
  width: 100%;
  margin: 1vh;
  z-index: 1;
  
}

p {
    text-align: center;
  }

body {
    font-family: 'Roboto Condensed', sans-serif;  
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
        color: black;}

     /* this is for the circle name logo above lucy pic section */
.container1 {
    padding: 50px;
    height: 350px;
    position: relative;
    margin: 0px;
}


#kmaboutimg {
    margin-top: 5vh;
    margin-bottom: 150vh;
    width: 40vh;
}

#lusection {
    background-image: url('images/lu.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 350px;
    margin-top: 10vh;
}

.project-thumbnail {
    height: 400px;
    box-shadow: 0px 0px 10px 2px black;
    vertical-align: middle;
    float: left;
    padding: 25px;
    margin: 100px;
}

.about-thumbnail {
  height: 400px;
  box-shadow: 0px 0px 10px 2px black;
  vertical-align: middle;
  float: left;
  padding: 25px;
  margin: 100px;
}


ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: white 0.1em 0.1em 0.2em;
  }
  
  /* Change the link color on hover */
li a:hover {
    color: white;
    text-shadow: #03989E 0.2em 0.2em 0.2em
  }
  

footer {
    text-align: center;
    padding: 3px;
    background-color: #03989E63;
    color: black;
}
  
input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* padding and width stay in place */
  margin-top: 6px; /* top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* vertically resize the textarea (not horizontally) */
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* padding and width stays in place */
  margin-top: 6px; /*top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #03989E;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #7c8c64;
}

/* Add a background color and some padding around the form */
.form_container {
  border-radius: 5px;
  background-color: #03989E20;
}


#stretch {
    height: 100px;
    background-image: url('images/greentile.svg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100px;
    margin-top: 5vh;
}


.MouseTrail {
  position: absolute;
  height: 7px; width: 7px;
  border-radius: 4px;
  background: #03989E;
}

.MouseTrailContact {
  position: absolute;
  height: 7px; width: 7px;
  border-radius: 4px;
  background: #7c8c64
  ;
}

h1 {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  font-weight: lighter;

}